@import 'sectionShare';


.specialty {
    .section-share-content{
        .img1{
            background-image: url('../../../assets/specialty/120331-co-xuong-khop.jpg');
        }
        .img2{
            background-image: url('../../../assets/specialty/120741-tim-mach.jpg');
        }
        .img3{
            background-image: url('../../../assets/specialty/120933-tieu-hoa.jpg');
        }
        .img4{
            background-image: url('../../../assets/specialty/121042-than-kinh.jpg');
        }
        .img5{
            background-image: url('../../../assets/specialty/121146-tai-mui-hong.jpg');
        }
        .img6{
            background-image: url('../../../assets/specialty/121215-cot-song.jpg');
        }
        .img7{
            background-image: url('../../../assets/specialty/121232-y-hoc-co-truyen.jpg');
        }
        .img8{
            background-image: url('../../../assets/specialty/121305-cham-cuu.jpg');
        }
    }
    
}